.wrapper{
    /* position: absolute; */
    /* display: flex; */
    justify-content: center; 
    background-size: cover;
    background-image: url(/assets/Homepage_Masthead_Test_DESKTOP_3200x1320-v4c_6.16.20.jpg);
    margin:0;
    width: 100%;
    /* height: 800; */
}

.login{
    margin-right: 32px;
}

button{
    font-family: 'Graphik',Helvetica,Arial,sans-serif;
    background: none;
    color: #ffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 23px 0 17px;
    margin: 4px 0px;
    border: none;
    display: block;
    text-transform: uppercase; 
    line-height: 1.15;
    border-radius: 0;
}

.parentContainer{
    /* position: relative; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column; */
}
.child1{
    position: relative;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    line-height: 1.3;
    z-index: 0;
    padding: 40px 40px;
    color: #2DBD9D;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 13px;
    padding-bottom: 8px;
}

.child2{
    position: relative;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    line-height: 1.3;
    z-index: 0;
    padding: 40px 40px;
    color: #2DBD9D;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 13px;
    padding-bottom: 8px;
}

.child3{
    position: relative;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    line-height: 1.3;
    z-index: 0;
    padding: 40px 40px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin-top: 16px;
}

.child4{
    position: relative;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    line-height: 1.3;
    z-index: 0;
    padding: 40px 40px;
    color: #2DBD9D;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 13px;
    padding-bottom: 8px;
}

.child5{
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    line-height: 1.3;
    z-index: 0;
    padding: 40px 40px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 13px;
    padding-bottom: 8px;
}


.bundleBox{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    background: linear-gradient(318.68deg, #0F495C 0%, #0D3640 49.72%, #08141F 100%);
    width: 100%;
}

.logo{

}
.content{
    display: flex;
}
